<h2>Edit Movie</h2>

<form action="/movies/<% @movie['id'] %>" method="post">
  <label for="">title</label>
  <input type="text" name="title" value="<%= @movie['title'] %>"/>
  <label for="">Image URL</label>
  <input type="text" name="image_url" value="<%= @movie['image_url'] %>"/>
  <button>Update</button>
</form>