<h1>Favorite Movies</h1>

<form action="/movie" method="post">

  <label for="">Name</label>
  <input type="text" name="movie_name" placeholder="enter movie name" value="<%= params[:movie_name]%>"/><button>Search</button>

</form>



