<h2>New Movie</h2>

<form action="/movies" method="post">
  <label for="">title</label>
  <input type="text" name="title"/>
  <label for="">Image URL</label>
  <input type="text" name="image_url"/>
  <button>Create</button>
</form>